/* UserTable.css */

.table-container {
    background-color: #f5f5f5;

    width: 98%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .table-header {
    background-color: #e5e9ee;
    color: rgb(19, 18, 18);
    font-weight: bold;
    border-right:1px solid black ;
    padding: 5px 20px;
  }
  
  .table-row {
    border-right: 1px solid #ccc;
  }
  
  .table-data {
    padding: 10px;
  }
  
  .edit-button {
    background-color: #ffc107;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .save-button,
  .cancel-button {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .delete-button {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
  }
  


.security-placeholder {
    color: gray;
    font-style: italic;
  }
  